<link rel="stylesheet" href="app.css">

<h1>Result Page!</h1>
<ul>
<% data["Search"].forEach(function(movie){ %>
	<div id="container">
		<li>
			<h2><strong><%= movie["Title"] %></strong> - <%= movie["Year"]%></h2>
			<div>
				<a>
					<img src="<%= movie["Poster"]%>"" >
				</a>
			</div>
		</li>
	</div>
<% }) %>
</ul> 

<a href="/">Search Again</a>